<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lear It, Love It</title>
</head>
<body>
    <h1>Bienvenido a Learn It, Love IT!</h1>
    <p>Tu plataforma de temas de aprendizaje</p>

    <a href="/temas">"Ver todos los temas"</a>
</body>
</html>