<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear - Nuevo Tema</title>
</head>
<body>
    <h1>Crear Nuevo Tema</h1>

    <form action="/temas" method="post">
        <label for="titulo">Titulo del Tema:</label>
        <input type="text" id="titulo" name="titulo" required>
        <button type="submit">Crear Tema</button>
    </form>
    
    <a href="/temas">Volver a la Lista de Temas</a>
</body>
</html>